.aside-menu {
    position: absolute;
    display: flex;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    .mask {
       flex: 1;
       background: rgba(0, 0, 0, 0.4);
       filter: blur(3px) contrast(.8) brightness(.8);
       margin: -30px;
    }
    .menu {
        z-index: 2;
        display: flex;
        flex-direction: column;
        width: 3rem;
        background: #0091ea linear-gradient(135deg, #33b5e5, #0091ea);
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.25),
                    2px 0 10px rgba(0, 0, 0, 0.3);
        .user {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 3rem;
            color: #FFF;
            @media screen and (max-width: 720px) {
                padding-top: 0.1rem;
                box-sizing: content-box;
            }
            .close {
                align-self: flex-end;
                padding-top: 0.1rem;
                margin-right: 0.2rem;
            }
            .user-avatar {
                width: 120px;
                height: 120px;
                border-radius: 50%;
                padding: 0;
                box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.5);
                position: relative;
                img {
                    width: 120px;
                    height: 120px;
                    border-radius: 50%;
                }
                &::after {
                    content: '';
                    position: absolute; 
                    top: 0px;
                    left: 0px;
                    width: 120px;
                    height: 120px;
                    box-sizing: border-box;
                    border-radius: 50%;
                    border-top: 4px solid  rgba(245,127,23 ,1);
                    border-left: 4px solid  rgba(245,127,23 ,1);
                    border-right: 4px solid  rgba(0,230,118 ,1);
                    border-bottom: 4px solid  rgba(0,230,118 ,1);
                    transition: all 0.8s ease;
                }
                &:hover {
                    &::after {
                        transform: rotate(360deg);
                    }
                }
            }
            .username {
                margin-top: 10px;
                font-size: 0.3rem;
                text-shadow: -1px -1px rgba(197, 223, 248,0.8),
                             -2px -2px rgba(197, 223, 248,0.8),
                             -3px -3px rgba(197, 223, 248,0.8);
            }
        }
        .options {
            display: flex;
            flex-direction: column;
            align-items: center;
            /*flex: 1;*/
            .option {
                font-size: 0.25rem;
                width: 90%;
                height: 0.6rem;
                display: flex;
                padding-left: 30px;
                align-items: center;
                cursor: pointer;
                margin: 10px 0;
                border-radius: 0.3rem;
                transition: all 0.3s ease-in-out;
                &:hover {
                    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
                    .option-text {
                        &::before {
                            opacity: 1;
                            transform: scale(1);
                        }
                        &::after {
                            opacity: 1;
                            transform: scale(1);
                        }
                    }
                }
                .fa {
                    flex: 1;
                    font-size: 0.4rem;  
                }
                .option-text {
                    flex: 5;
                    padding: 0.1rem 0;
                    position: relative;
                    color: #EEE;
                    &::before {
                        content: '';
                        position: absolute;
                        top: 0px;
                        bottom: 0px;
                        left: 12px;
                        right: 12px;
                        opacity: 0;
                        border: 2px solid #EEE;
                        border-top: 0;
                        border-bottom: 0;
                        transition: all 0.4s ease-in-out;
                        transform: scale(0, 1);
                    }
                    &::after {
                        content: '';
                        position: absolute;
                        top: 0px;
                        bottom: 0px;
                        left: 12px;
                        right: 12px;
                        opacity: 0;
                        border: 2px solid #EEE;
                        border-top: 0;
                        border-bottom: 0;
                        transition: all 0.4s ease-in-out;
                        transform: scale(1, 0);
                    }
                }
            }
            .bg-green {
                background: #34A853;
                .option-text {
                    &::before {
                        border: 2px solid #EEE;
                        border-left: 0;
                        border-right: 0;
                    }
                }
            }
            .bg-yellow {
                background: #F9B01F;
            }
            .bg-orange {
                background: #E88C67;
                .option-text {
                    &::before {
                        border: 2px solid #EEE;
                        border-left: 0;
                        border-right: 0;
                    }
                }
            }
        } 
    }
}
