* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

@mixin widHei {
  width: 100%;
  height: 100%;
  overflow: hidden;
}


html {
   @include widHei;
}

body {
   @include widHei;  
  background: #f7f8fa;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

li {
  list-style: none;
}

a {
  display: inline-block;
  font-size: 16px;
  color: #0C69CD;
  margin: 0.1rem 0;
  text-decoration: none;
  position: relative;
  &::before , &::after{
    position: absolute;
  }
  &.menu {
    &::before , &::after{
      font-size: 16px;
      font-weight: bold;
      color: #FFF;
      opacity: 0;
      transition: all .5s ease-in-out;
      }
      &::before {
        content: '[';
        left: 10px; 
      }
      &::after {
        content: ']';
        right: 10px;
      }
      &:hover::before {
        opacity: 1;
        left: -15px; 
      }
      &:hover::after {
         opacity: 1;
         right: -15px;
      }
    }
    &.content {
       &::after{
        content: "";
        background: #FF801F;
        left: 0;
        bottom: -2px;
        height: 2px;
        width: 100%;
        transition: all .5s ease-in-out;
        transform: scaleX(0);
      }
      &:hover::after {
        transform: scaleX(1);
      }
    }
}

.color-blue {
    color: #4286F3;
}
.color-red {
    color: #EA4335;
}
.color-yellow {
    color: #FBBC05;
}
.color-green {
    color: #34A853;
}
.color-orange {
    color: #E88C67;
}

.bg-blue {
    background: #4286F3;
}
.bg-red {
    background: #EA4335;
}
.bg-yellow {
    background: #F9B01F;
}
.bg-green {
    background: #34A853;
}
.bg-orange {
    background: #E88C67;
}

.slide-fade-enter-active {
  transition: all .6s ease;
}
.slide-fade-leave-active {
  transition: all .5s ease;
}
.slide-fade-enter, .slide-fade-leave-active {
  transform: translateX(60px);
  opacity: 0;
}

.slide-left-enter-active {
  transition: all .3s ease;
}
.slide-left-leave-active {
  transition: all .2s ease-out;
}
.slide-left-enter, .slide-left-leave-active {
  transform: translateX(-150px);
  opacity: 0;
}

.slide-top-enter-active {
  transition: all .5s ease;
}
.slide-top-leave-active {
  transition: all .2s ease-out;
}
.slide-top-enter, .slide-top-leave-active {
  transform: translateY(-5px);
  opacity: 0;
}