* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  transition: all 0.3s ease-in-out;
}

@mixin widHei {
  width: 100%;
  height: 100%;
}


html {
   @include widHei;
}

body {
   @include widHei;  
   background: #E7EAF0;
   font-size: 0.3rem;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

li {
  list-style: none;
  line-height: 2em;
}

i {
    margin-right: 0.1rem;
}

img {
  margin: 0 auto;
  display: block;
}

::-webkit-scrollbar {
    width: 0.08rem;
}

::-webkit-scrollbar-track {
    border-radius: 0.05rem;
    background: #CEB9D1;
}

::-webkit-scrollbar-thumb {
    height: 1rem;
    border-radius: 0.1rem;
    background: #498BD6 linear-gradient(to bottom,#FFF, rgba(3, 169, 244, 0.5), #0277BD);
}



.markdown-text {
    img {
      max-width: 100%;
      min-width: 50%;
       margin: 0.1rem auto;
    }
    p {
        line-height: 1.7em;
        overflow: auto;
        margin-bottom: 0.1rem;
    }
    ol, ul {
         margin: 0 0 10px 25px;
    }
    li {
        position: relative;
        &::before{
            content: '';
            display: inline-block;
            margin-top: 10px;
            margin-right: 10px;
            height: 0.2rem;
            width: 0.2rem;
            background: url('../logo.png') no-repeat;
            background-size: cover;
        }
    }
    ol {
      li {
        list-style: decimal;
        &::before {
            height: 0;
            width: 0;
        }
      }
    }
    blockquote {
        padding: 0 0 0 0.15rem;
        margin: 0 0 0.2rem;
        border-left: 5px solid #AAA3EE;
    }
    blockquote p {
        font-size: 0.17rem;
        font-weight: 400;
        line-height: 1.25
    }
    h2 {
        margin: 0.3rem 0 0.15rem;
        padding-bottom: 0.2rem;
        border-bottom: 2px solid #eee
    }
    pre{
      font-size: 0.16rem;
      padding: 0 0.15rem;
      margin: 0.2rem 0;
      padding: 0.1rem;
      border-width: 1px 0;
      background: #272822;
      color: #4EC8E8;
      -o-tab-size: 4;
      -moz-tab-size: 4;
      tab-size: 4;
      word-wrap: break-word;
      white-space: pre-wrap;
  }
}



a {
  display: inline-block;
  font-size: 0.22rem;
  color: #0C69CD;
  margin: 0.1rem 0;
  text-decoration: none;
  position: relative;
  &::before , &::after{
    position: absolute;
  }
  &.menu {
    &::before , &::after{
      font-size: 0.22rem;
      font-weight: bold;
      color: #FFF;
      opacity: 0;
      transition: all .5s ease-in-out;
      }
      &::before {
        content: '[';
        left: 10px; 
      }
      &::after {
        content: ']';
        right: 10px;
      }
      &:hover::before {
        opacity: 1;
        left: -15px; 
      }
      &:hover::after {
         opacity: 1;
         right: -15px;
      }
    }
    &.title {
       &::after{
        content: "";
        background: #E84BAF;
        left: 0;
        bottom: -4px;
        height: 2px;
        width: 100%;
        transition: all .5s ease-in-out;
        transform: scaleX(0);
      }
      &:hover::after {
        transform: scaleX(1);
      }
    }
}

   

.avatar {
    position: absolute;
    top: 50%;
    left: calc(-0.8rem - 8px);
    transform: translate( 50% ,-50%);
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background: #EEE;
    transition: all 0.5s ease-in-out;
   
    .img-border {
        position: absolute;
        top: -4px;
        left: -4px;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        box-sizing: content-box;
        border: 4px solid ;
        border-left-color: #6B33CC;
        border-bottom-color: #6B33CC;
        transition: all 0.5s ease-in-out;
    }
    &:hover {
        .img-border  {
              transform: rotate(360deg);
        }
    }
    .avatar-img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        box-shadow: 0 0 1px 5px rgba(0,0,0,.6),
                    0 5px 11px 5px rgba(0,0,0,.3),
                    0 4px 15px 5px rgba(0,0,0,.4); 
        transition: all 0.5s ease-in-out;
    }
} 


.text {
    display: inline-block;
    width: 100%;
    height: 40px;
    margin: 4px 0;
    position: relative;
    overflow: hidden;
}

.text .textBottom {
    display: inline-block;
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: 0;
    
}
.text .textBottom::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 4px solid rgba(0, 170, 255, 1);
    transform: translate3d(-200%, 0, 0);
    transition: all 0.3s;
}

.text input[type=text] {
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    padding: 0 8px;
    border-bottom: 2px solid #B9C1CA;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
   
}

 .text input[type=text]:focus+.textBottom::after{
    transform: translate3d(0, 0, 0);
}

.textarea:focus {
    transition: all 0.3s ;
    border: 4px solid #CCC;
}

.color-blue {
    color: #4286F3;
}
.color-red {
    color: #EA4335;
}
.color-yellow {
    color: #FBBC05;
}
.color-green {
    color: #34A853;
}
.color-orange {
    color: #E88C67;
}

.bg-blue {
    background: #4286F3;
}
.bg-red {
    background: #EA4335;
}
.bg-yellow {
    background: #F9B01F;
}
.bg-green {
    background: #34A853;
}
.bg-orange {
    background: #E88C67;
}

.slide-fade-enter-active {
  transition: all .6s ease;
}
.slide-fade-leave-active {
  transition: all .5s ease;
}
.slide-fade-enter, .slide-fade-leave-active {
  transform: translateX(60px);
  opacity: 0;
}

.slide-left-enter-active {
  transition: all .3s ease;
}
.slide-left-leave-active {
  transition: all .2s ease-out;
}
.slide-left-enter, .slide-left-leave-active {
  transform: translateX(-150px);
  opacity: 0;
}

.slide-top-enter-active {
  transition: all .5s ease;
}
.slide-top-leave-active {
  transition: all .2s ease-out;
}
.slide-top-enter, .slide-top-leave-active {
  transform: translateY(- 0.2rem);
  opacity: 0;
}

.slide-bottom-enter-active {
  transition: all .5s ease;
}
.slide-bottom-leave-active {
  transition: all .2s ease-out;
}
.slide-bottom-enter, .slide-bottom-leave-active {
  transform: translateY(0.6rem);
  opacity: 0;
}

.slide-in-enter-active{
    transition: all 0.8s ease-in-out;
    transform: translateZ(0);
    opacity: 1;
}
.slide-in-enter{
    transition: all 0.8s ease-in-out;
    transform: translateZ(-100%);
    opacity: 0;
}
.slide-in-leave-active {
    transition: all 0.8s ease-in-out;
    transform: translateZ(-100%);
    opacity: 0;
}

.panels-show-enter-active {
    transition: all 0.8s cubic-bezier(1.0, 0.5, 0.8, 1.0) 0.6s;
    opacity: 1;
}
.panels-show-leave-active {
    transition: all 0.6s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    opacity: 0;
}
.panels-show-enter {
    opacity: 0;
}


.brief-list-enter {
  opacity: 0;
  transform: translateY(30px);
}

.brief-list-enter-active {
  transition: all 1s cubic-bezier(0.7,0,0.3,1);
}

.brief-list-leave-active {
  opacity: 0;
  transition: opacity .5s cubic-bezier(0.7,0,0.3,1);
}


.show-enter-active {
  transition: all .3s ease;
}
.show-leave-active {
  transition: all .2s ease-in;
}
.show-enter, .show-leave-active {
  transform: translateX(200px);
  opacity: 0;
}