.msg {
    min-width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 200;
    background: #E7EAF0;
    .msg-header {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0.2rem 0;
        color: #FFF;
        .fa-chevron-left {
            position: absolute;
            left: 10px;
            width: 0.4rem;
            height: 0.4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            font-size: 0.4rem;
        }
    }
    .msg-content {
        flex: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
        .msg-read {
            display: flex;
            border-bottom: 2px solid #9933CC;
            .msgReadTab {
                flex: 1;
                text-align: center;
                padding: 0.1rem 0;
                cursor: pointer;
               &.active {
                   border-bottom: 4px solid;
                   margin-bottom: -3px;
               }
               .length {
                   display: inline-block;
                   border-radius: 50%;
                   width: 0.4rem;
                   height: 0.4rem;
                   line-height: 0.4rem;
                   color: #EEE;
               }
            }
        }
        .msg-list {
            flex: 1;
            overflow-y: auto;
            .msg-item {
                display: flex;
                padding: 0.2rem;
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    height: 100%;
                    width: 2px;
                    left: 0.7rem;
                    background: rgba(141, 214, 241, 1);
                }
                .msg-author-avatar {
                    display: inline-block;
                    width: 1rem;
                    position: relative;
                    .avatar {
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 0.6rem;
                        height: 0.6rem;
                        .img-border {
                            width: inherit;
                            height: inherit;
                        }
                        .avatar-img {
                            width: inherit;
                            height: inherit;
                        }
                    } 
                }
                .msg-reply {
                    flex: 1;
                    margin-left: 0.2rem;
                    .title {
                        font-size: inherit;
                    }
                }
            }
       }
    }
}