.article-detail {
    position: absolute;
    width: 100%;
    .article-error {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
        color: #343434;
    }
    .article-body {
        max-width: 1000px;
        margin: 10px auto;
        .article-main {
            background: #FFBD8D;
            padding: 0.1rem 0.2rem;
            margin-bottom: 0.15rem;
            .article-title {
                .article-tag {
                     display: inline-block;
                     margin-right: 10px;
                    .tag {
                        display: inline-block;
                        font-size: 0.2rem;
                        padding: 5px 10px;
                    }
                }
                .title-ct {
                    display: inline-block;
                    .title {
                        font-size: 0.28rem;
                    }
                } 
                .article-desc {
                    margin: 10px 0;
                }
                .article-author {
                    display: inline-block;
                    .avatar {
                        left: calc(-0.8rem - 8px);
                        width: 0.4rem;
                        height: 0.4rem;
                        .img-border {
                            width: 0.4rem;
                            height: 0.4rem;
                        }
                        .avatar-img {
                            width: 0.4rem;
                            height: 0.4rem;
                        }
                    } 
                    .title {
                        margin: 10px;
                        margin-left: 0.8rem;
                    }
                }
                .article-count {
                    display: inline-block;
                    font-size: 0.2rem;
                    margin: 10px 0;
                    span {
                        margin-right: 0.2rem;
                        &.reply {
                            color: #81C784;
                        }
                        &.visit {
                            color: #00BFA5;
                        }
                        &.date, &.tab {
                            color: #808080;
                        }
                    }
                    i {
                        margin-right: 0.1rem;
                    }
                }
            }
            .article-content {
                font-size: 0.2rem;
            }       
        }
        .other {
            background: #FFBD8D;
            padding: 0.1rem 0.2rem;
            margin-bottom: 0.2rem;
            .collect {
                display: inline-block;
                display: flex;
                justify-content: space-between;
                .article-collect {
                    cursor: pointer;
                }
            }
        }
        .article-reply {
            /* padding: 0.1rem 0.2rem;*/
             margin-bottom: 0.15rem;
            
             .article-reply-input {
                 width: 100%;
                 height: 1.6rem;
                 position: relative;
                 font-size: 0.2rem;
                 display: flex;
                 justify-content: center;
                 margin-bottom: 0.2rem;
                 background: #FFBD8D;
                 padding: 0.1rem 0.2rem;
                 @media screen and (max-width: 400px) {
                     flex-direction: column;
                     align-items: center;
                     button.btns {
                         width: 80%;
                         height: 50%;
                     }
                 }
                 textarea {
                    outline: none;
                    border: none;
                    width: 80%;
                    height: 100%;
                    padding: 0.1rem 0.15rem;
                    position: relative;
                    resize: none;
                    overflow-y: auto;
                    border-radius: 8px;
                    margin-right: 0.1rem;
                    margin-bottom: 0.1rem;
                    box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.4);
                    &:focus {
                        border: 2px solid;
                    }
                }
                button {
                    height: 100%;
                    margin: 0;
                }
             }
             .article-reply-handle {
                background: #C6C9FF;
                padding: 0.4rem 0;
                margin-bottom: 0.1rem;
                position: relative;
                .sort-reply {
                   position: absolute;
                   left: 50%;
                   top: 50%;
                   transform: translate(-50%, -50%);
                   width: 2.4rem;
                    .button-group {
                        font-size: 0.22rem;
                        .btns {
                            &.active {
                                color:  #8E4CFF;
                            }
                        }
                    }
                }
             }
             .article-reply-item {
                  background: #C6C9FF;
                  padding: 0.2rem;
                  margin-bottom: 0.1rem;
                  border: 4px solid;
                  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),
                              0 2px 10px 0 rgba(0,0,0,.12);
                  &:hover {
                      box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),
                                  0 6px 20px 0 rgba(0,0,0,.19);
                  }
                 .article-reply-author {
                    /* height: 0.6rem;*/
                     margin-bottom: 0.1rem;
                     .article-reply-desc {
                         font-size: 0.2rem;
                         display: flex;
                         align-items: center;
                         position: relative;
                         .avatar {
                            left: calc(-0.8rem - 8px);
                            width: 0.4rem;
                            height: 0.4rem;
                            .img-border {
                                width: 0.4rem;
                                height: 0.4rem;
                            }
                            .avatar-img {
                                width: 0.4rem;
                                height: 0.4rem;
                            }
                        } 
                        .title {
                            margin: 10px;
                            margin-left: 0.8rem;
                        }
                        .article-reply-index {

                        }
                        .article-reply-option {
                            position: absolute;
                            right: 0.2rem;
                            .article-reply-at {
                                cursor: pointer;
                            }
                            .icon-reply-at {
                                cursor: pointer;
                            }
                        }
                     }
                 }
                 .article-reply-content {
                     font-size: 0.25rem;
                     margin-bottom: 0.1rem;
                 }
                 .article-reply-data {
                     font-size: 0.2rem;
                     color: #808080;
                 }
             }
        }
        
    }
    .preview-modal {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background:rgba(63,81,181,1);
        z-index: 1000;
        overflow-y: auto;
        min-width: 320px;
        .modal-body {
            position: absolute;
            left: 50%;
            transform: translate(-50%);
            margin-top: 0.1rem;
            width: 98%;         
        }
        .close {
            float: right;
        }
        .preview-image {
           max-width: 100%;
        }
    }
    .back {
        position: fixed;
        top: 50%;
        left: 0.2rem;
        transform: translate(-50%, 0);
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        font-size: 0.5rem;
        text-shadow: 0 2px 2px #000,
                     0 4px 2px #666;
        color:rgba(63,81,181,1);
        z-index: 10;
        animation: back 1s ease-out infinite alternate;
        cursor: pointer;
        @keyframes back {
            0% {
                left: 0.2rem;
            }
            100% {
                left: 0.4rem;
            }
        }
        @media screen and (max-width: 1100px) {
            display: none;
        }
    }
}