.article-detail {
    position: absolute;
    width: 100%;
    .article-body {
        max-width: 1000px;
        margin: 10px auto;
        .article-main {
            background: #FFBD8D;
            padding: 0.1rem 0.2rem;
            margin-bottom: 0.15rem;
            .article-title {
                .article-tag {
                     display: inline-block;
                     margin-right: 10px;
                    .tag {
                        display: inline-block;
                        font-size: 0.2rem;
                        padding: 5px 10px;
                    }
                }
                .title-ct {
                    display: inline-block;
                    .title {
                        font-size: 0.28rem;
                    }
                } 
                .article-desc {
                    margin: 10px 0;
                }
                .article-author {
                    display: inline-block;
                    .avatar {
                        left: calc(-0.8rem - 8px);
                        width: 0.4rem;
                        height: 0.4rem;
                        .img-border {
                            width: 0.4rem;
                            height: 0.4rem;
                        }
                        .avatar-img {
                            width: 0.4rem;
                            height: 0.4rem;
                        }
                    } 
                    .title {
                        margin: 10px;
                        margin-left: 0.8rem;
                    }
                }
                .article-count {
                    display: inline-block;
                    font-size: 0.2rem;
                    margin: 10px 0;
                    span {
                        margin-right: 0.2rem;
                        &.reply {
                            color: #81C784;
                        }
                        &.visit {
                            color: #00BFA5;
                        }
                        &.date, &.tab {
                            color: #808080;
                        }
                    }
                    i {
                        margin-right: 0.1rem;
                    }
                }
            }
            .article-content {
                font-size: 0.2rem;
                .markdown-text {
                    p {
                        line-height: 1.7em;
                        overflow: auto;
                        margin-bottom: 0.2rem;
                    }
                    li {
                       position: relative;
                       &::before{
                            content: '';
                            display: inline-block;
                            margin-top: 10px;
                            margin-right: 10px;
                            height: 0.2rem;
                            width: 0.2rem;
                            background: url('../../assets/logo.png');
                            background-size: cover;
                        }
                    }
                    blockquote {
                        padding: 0 0 0 0.15rem;
                        margin: 0 0 0.2rem;
                        border-left: 5px solid #AAA3EE;
                    }
                    blockquote p {
                        font-size: 0.17rem;
                        font-weight: 300;
                        line-height: 1.25
                    }
                    h2 {
                        margin: 0.3rem 0 0.15rem;
                        padding-bottom: 0.2rem;
                        border-bottom: 2px solid #eee
                    }

                }
            }

            
        }
        .article-reply {
             background: #FFBD8D;
             padding: 0.1rem 0.2rem;
             margin-bottom: 0.15rem;
        }
    }
}