.user-center {
    position: absolute;
    width: 100%;
    .user-main {
        max-width: 1000px;
        margin: 10px auto;
        .user-info {
            width: 100%;
            height: 3rem;
           /* background: #51BDFF;*/
            position: relative;
            .user-info-avatar {
                top: 0.2rem;
                left: 50%;
                transform: translate(-50%, 0);
            }
            .user-name {
                position: absolute;
                left: 50%;
                top: 1.2rem;
                transform: translate(-50%, 0);
                color: #414141;
            }
            .user-score {
                position: absolute;
                left: 50%;
                top: 1.6rem;
                transform: translate(-50%, 0);
                .fa-star {
                    color: #fb4;
                    text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
                    transition: all 1s ease-in-out;
                    &:hover {
                        transform: rotate(360deg);
                    }
                }
                
            }
            
        }
    } 
}