.user-center {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px 0;
    .user-main {
        max-width: 1000px;
        height: 100%;
        margin: 0px auto;
        display: flex;
        flex-direction: column;
        .user-info {
            width: 100%;
            height: 3rem;
            margin-bottom: 0.3rem;
            position: relative;
            .user-info-avatar {
                top: 0.2rem;
                left: 50%;
                transform: translate(-50%, 0);
            }
            .user-name {
                position: absolute;
                left: 50%;
                top: 1.2rem;
                transform: translate(-50%, 0);
                color: #414141;
            }
            .user-score {
                position: absolute;
                left: 50%;
                top: 1.6rem;
                transform: translate(-50%, 0);
                width: 2rem;
                height: 0.34rem;
                display: flex;
                align-items: center;
                justify-content: center;
                 color: #222;
                .fa-star {
                    color: #fb4;
                    text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
                    transition: all 1s ease-in-out;
                    &:hover {
                        transform: rotate(360deg);
                    }
                }     
            }
            .user-github {
                position: absolute;
                left: 50%;
                top: 2rem;
                transform: translate(-50%, 0);
                width: 2rem;
                height: 0.34rem;
                display: flex;
                align-items: center;
                justify-content: center;
                .fa-github {
                    text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
                }
                .title {
                   margin: 0;
                }
            }
            .user-data {
                position: absolute;
                left: 50%;
                top: 2.4rem;
                transform: translate(-50%, 0);
                width: 2rem;
                height: 0.34rem;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 0.24rem;
                color: #222;
                .fa-calendar {
                    color: #000;
                    text-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
                }
            }

        }
        .user-topic {
            width: 100%;
            border: 2px solid;
            flex: 1;
            display: flex;
            .user-topic-nav {
                width: 2.4rem;
                border-right: 4px solid;
                .topic-navs {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    .topic-nav:not(:first-child){
                        border-top: 2px solid rgba(0, 0, 0, .3);
                    }
                    .topic-nav {
                        flex: 1;
                        font-size: 0.24rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;  
                        font-weight: bold;
                        &.active {
                            border-right: 4px solid; 
                            color: #000;
                            width: 102%;
                        }
                    }
                }
                
            }
            .user-topic-content {
                overflow: auto;
                .topic-contents {
                    .topic-content {
                         font-size: 0.2rem;
                         .topic-content-title {

                         }
                    }
                }
            }
        }
    } 
}