.Topbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    background: #0091ea linear-gradient(135deg, #33b5e5, #0091ea);
    color: #FFF;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),
                0 2px 10px 0 rgba(0,0,0,.12);
    line-height: 1em;
    padding-bottom: 0.6em; 
    .fa {
         font-size: 0.4rem;
      &.fa-bars {
          position: absolute;
          z-index: 1;
          display: inline-block;
          flex: 1;
          left: 0.3rem;
          bottom: 0.3em;
          cursor: pointer;
      }
    }
    .logo {
        font-size: 0.4rem;
        cursor: default;
        margin: 0;
        margin-top: 0.67em;
        .logo-text {
            display: inline-block;
            text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
            &:hover {
                transform: translateY(-0.1rem);
            }
        }
    }
    .hasMsg {
       display: inline-block;
       position: absolute;
       right: 0.3rem;
       bottom: 0.3em;
       cursor: pointer;
       .msg-count {
           position: absolute;
           right: -0.1rem;
           top: -0.1rem;
           width: 0.4rem;
           height: 0.4rem;
           line-height: 0.4rem;
           border-radius: 50%;
           color: red;
           background: rgba(141, 214, 241, 0.4);
           text-align: center;
           overflow: hidden;
       }
    }
}