.content {
    display: flex;
    flex-direction: column;
    width: 100vw;
    flex: 1;
    position: relative; 
    .tabs {
        height: 0.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0;
        box-shadow: 0 12px 17px 0 rgba(0,0,0,.2),
                    0 14px 20px 0 rgba(0,0,0,.19);
        .tab {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            height: 100%;
            
            &.isBorder {
                background: rgba(255, 255, 255, 0.4);
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                border-bottom: 4px solid #9933CC;
                a {
                    color: #9933CC;
                }
            }
            a { 
                color: #FFF;
                font-size: 0.25rem;
                width: 100%;
                text-align: center;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                margin: 0;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                &::before , &::after{
                    font-size: inherit;
                }
            }
        }
    }
    .article {
        flex: 1;
        display: flex;
        overflow-y: auto;
        position: relative;
        transition: 1s linear;
        .loading {
            flex: 1;
            align-self: center;
        }
    }
    
}