.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    position: relative; 
    .tabs {
        height: 0.5rem;
        padding-top: 0.1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0;
        .tab {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            height: 100%;
            
            &.isBorder {
                background: rgba(255, 255, 255, 0.2);
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                border-bottom: 4px solid #9933CC;
                a {
                    color: #9933CC;
                }
            }
            a { 
                color: #FFF;
                font-size: 0.25rem;
                &::before , &::after{
                    font-size: inherit;
                }
            }
        }
    }
    .article {
        flex: 1;
        display: flex;
        overflow: scroll;
        position: relative;
        transition: 1s linear;
        .loading {
            flex: 1;
            display: flex;
            justify-content: center;
            align-self: center;
            .fa-circle-o-notch {
            }
        }
    }
    
}