.replay-modal {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.2rem;
    background: #FFBD8D;
    padding: 0.1rem 0.2rem;
    .modal-header {
        width: 70%;
        display: flex;
        justify-content: space-between;
    }
    .modal-body {

    }
    .modal-footer {

    }
}