.replay-modal {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.2rem;
    background: #FFBD8D;
    padding: 0.1rem 0.2rem;
    .modal-header {
        width: 70%;
        padding: 0.1rem;
        display: flex;
        justify-content: space-between;
    }
    .modal-body {
        width: 70%;
        padding: 0.1rem;
        .form-group {
            margin-bottom: 0.3rem;
        }
       #reply {
           resize: vertical;
           width: 100%;
       }

    }
    .modal-footer {
        width: 70%;
        padding: 0.1rem;
        padding-top: 0;
        .btns {
            width: 100%;
        }
    }
}