.new-article {
    min-width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 200;
    background: #E7EAF0;
    .new-article-header {
        position: relative;
        width: 100%;
        text-align: center;
        padding: 0.1rem 0;
        color: #FFF;
        .fa-chevron-left {
            position: absolute;
            left: 10px;
            width: 0.4rem;
            height: 0.4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            font-size: 0.4rem;
        }
    }
    .new-article-content {
        width: 100%;
        margin: 0.4rem 0;
        padding: 0 0.4rem;
        @media screen and (max-width: 600px) {
            width: 100%;
            margin: 0;
            padding: 0;
        }
        .new-article-type {
            margin: 4px 0;
        }
        .new-article-title {
            .title-input {
                font-size: 0.22rem;
            }
        }
        .new-article-body {
            .modal-header {
                display: none;
            }
        }
    } 
}