.login {
    min-width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 200;
    background: #E7EAF0;
    .login-header {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0.2rem 0;
        color: #FFF;
        .fa-chevron-left {
            position: absolute;
            left: 10px;
            width: 0.4rem;
            height: 0.4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            font-size: 0.4rem;
        }
    }
    .login-input {
        width: 100%;
        margin: 0.4rem 0;
        padding: 0 0.4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .login-tips {
        margin: 0.2rem;
        .tips {
            .tip {
                .br {
                    display: none;
                    @media screen and (max-width: 400px) {
                        display: block;
                    }
                }
               .accessTokenImg {
                   width: 70%;
                    @media screen and (max-width: 600px) {
                        width: 100%;
                    }
               }
            }
        }
    }
}